table {
    border-collapse: collapse;
    border: 2px solid #333;
}
td {
    padding: 0;
    border: 1px solid #bbb;
}

.border-right {
    border-right: 2px solid #333;
}

.border-bottom td {
    border-bottom: 2px solid #333;
}
input[type="number"] {
    border: 0;
    width: 32px;
    line-height: 43px;
    text-align: center;
    font-size: 1.3em;
    margin-left: 15px;
    color: #777;
}

input[type="number"]:disabled {
    color: #333;
    font-weight: bold;
}